#board {
    background-image: url('https://raw.githubusercontent.com/shadurr/TicTacToe/main/Bilder/Board.png'); 
    z-index: 1;
        width: 300px;  /* Adjusted to 3*100px */
        height: 300px;  /* Adjusted to 3*100px */
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px; /* New */
        background-repeat: no-repeat;  /* New */
        background-size: 300px 300px;  /* New */
        background-position: center;  /* New */
    }
    
    .cell {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0;  /* New, ensuring that no default margin is applied */
        padding: 0;  /* New, ensuring that no default padding is applied */
        box-sizing: border-box;  /* New, to make sure padding and border are included in the total width and height */
    }
    .cell:active {
        cursor: grabbing;
    }

    .draggablePiece {
    position: fixed;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    pointer-events: none;
    z-index: 9999; /* A high z-index value */
}
