#board {
    background-image: url('https://raw.githubusercontent.com/shadurr/TicTacToe/main/Bilder/Board.png'); 
    position: relative;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell:active {
    cursor: grabbing;
}

.draggablePiece {
    position: fixed;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    pointer-events: none;
    z-index: 9999;
}
