#board {
    background-image: url('C:\Users\Leo-2017\TTT\TicTacToe\Bilder\Board.png'); 
    
    /*background-color: blue;*/

    width: 393px;
    height: 388px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.cell {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
